<div id="privateServicesContent">
    <div class="sm-screen-wrapper">
        <section class="container section-tiText div--margin-bottom">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Our Services</h3>
                    <form>
                        <select id="servicesSelect" class="form-control form-control--lg-font">
                            <option value="hotel">Hotel</option>
                            <option value="grooming">Grooming</option>
                        </select>
                    </form>
                </div>
            </div>
        </section>
        <section class="container section-tiText div--margin-bottom">
            <div class="row tab-content">
                <div class="col-sm-12 tab-pane active" id="hotelServiceSm">

                    <!-- Hotel select options -->
                    <div class="div-service div--margin-bottom">
                        <img class="img-responsive" src={{serviceOne.image}}>
                        <form method="POST" action="/services/privateServices/detail">
                            <input type="hidden" value="{{serviceOne.id}}" name="serviceId">
                            <input type="submit">{{serviceOne.name}}<span class="icon-arrow-40"></span></input>
                        </form>
                        <div>
                            <p>{{serviceOne.hours}}hr</p>
                            <p>${{serviceOne.cost}}</p>
                        </div>
                        <a href="/booking"  class="btn btn-primary article--btn">Book it</a>
                    </div>

                    <div class="div-service div--margin-bottom">
                        <img class="img-responsive" src={{serviceTwo.image}}>
                        <a href="#">{{serviceTwo.name}}<span class="icon-arrow-40"></span></a>
                        <div>
                            <p>{{serviceTwo.hours}} hr</p>
                            <p>${{serviceTwo.cost}}</p>
                        </div>
                        <a href="/booking"  class="btn btn-primary article--btn">Book it</a>
                    </div>
                </div>
                <div class="col-sm-12 tab-pane" id="groomingServiceSm">

                    <!-- Grooming select options -->
                    <div class="div-service div--margin-bottom">
                        <img class="img-responsive" src={{serviceThree.image}}>
                        <a href="#">{{serviceThree.name}}<span class="icon-arrow-40"></span></a>
                        <div>
                            <p>{{serviceThree.hours}} hr</p>
                            <p>${{serviceThree.cost}}</p>
                        </div>
                        <a href="/booking"  class="btn btn-primary article--btn">Book it</a>
                    </div>

                    <div class="div-service div--margin-bottom">
                        <img class="img-responsive" src={{serviceFour.image}}>
                        <a href="#">{{serviceFour.name}}<span class="icon-arrow-40"></span></a>
                        <div>
                            <p>{{serviceFour.hours}} hr</p>
                            <p>${{serviceFour.cost}}</p>
                        </div>
                        <a href="/booking"  class="btn btn-primary article--btn">Book it</a>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <div class="lg-screen-wrapper">
        <section class="container">
            <div class="row text-center">
                <h2 class="margin--lg">Our Private Services</h2>
            </div>
            <div class="row text-center">
                <ul class="nav col-sm-4 col-sm-offset-4 row sub-nav">
                    <li class="active col-sm-6"><a data-toggle="tab" href="#hotelService">Hotel</a></li>
                    <li class="col-sm-6"><a data-toggle="tab" href="#groomingService">Grooming</a></li>
                </ul>
            </div>
        </section>

        <section class="container tab-content section-tab-content">
            <div id="hotelService" class="tab-pane in active">
                <div class="row tab-content-row">
                    <div class="col-sm-6 tab-content-col">
                        <div class="tab-content-img__text-overlay opacity--hide">
                            <p>{{serviceOne.textBlock}}</p>
                        </div>
                        <img class="img-responsive" src={{serviceOne.image}}>
                    </div>
                    <div class="col-sm-6 text-center tab-content-half">
                        <h3>{{serviceOne.name}}</h3>
                        <p>{{serviceOne.hours}} hr | ${{serviceOne.cost}}</p>
                        <a href="/booking"  class="btn btn-primary article--btn">Book it</a>
                    </div>
                </div>
                <div class="row tab-content-row">
                    <div class="col-sm-6 tab-content-col">
                        <div class="tab-content-img__text-overlay opacity--hide">
                            <p>{{serviceTwo.textBlock}}</p>
                        </div>
                        <img class="img-responsive" src="/assets/images/kittenonbed.jpeg">
                    </div>
                    <div class="col-sm-6 text-center">
                        <h3>{{serviceTwo.name}}</h3>
                        <p>{{serviceTwo.hours}}hr | ${{serviceTwo.cost}}</p>
                        <a href="/booking"  class="btn btn-primary article--btn">Book it</a>
                    </div>
                </div>
            </div>
            <div id="groomingService" class="tab-pane">
                <div class="row tab-content-row">
                    <div class="col-sm-6 tab-content-col">
                        <div class="tab-content-img__text-overlay opacity--hide">
                            <p>{{serviceThree.textBlock}}</p>
                        </div>
                        <img class="img-responsive" src={{serviceThree.image}}>
                    </div>
                    <div class="col-sm-6 text-center">
                        <h3>{{serviceThree.name}}</h3>
                        <p>{{serviceThree.hours}}hr | ${{serviceThree.cost}}</p>
                        <a href="/booking"  class="btn btn-primary article--btn">Book it</a>
                    </div>
                </div>
                <div class="row tab-content-row">
                    <div class="col-sm-6 tab-content-col">
                        <div class="tab-content-img__text-overlay opacity--hide">
                            <p>{{serviceFour.textBlock}}</p>
                        </div>
                        <img class="img-responsive" src={{serviceFour.image}}>
                    </div>
                    <div class="col-sm-6 text-center">
                        <h3>{{serviceFour.name}}</h3>
                        <p>{{serviceFour.hours}}hr | ${{serviceFour.cost}}</p>
                        <a href="/booking"  class="btn btn-primary article--btn">Book it</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>